  .heart {
    cursor: pointer; /* カーソルを手に変化 */
    width: 10%;
    height: auto;
  }

  .on{
    fill: red;
  }
  .off{
    fill: rgb(209, 209, 209);
  }

  .search_box {
    display: inline-block;
    position: relative;
  }
  
  .search_box::before {
    content: "";
    width: 25px;
    height: 25px;
    background: url(../images/serch.png) no-repeat center center / auto 100%; /* 背景にアイコン画像を配置 */
    display: inline-block; /* インラインブロック要素にする */
    position: absolute;    /* 相対位置に指定 */
    top: 20px;
    left: 16px;
  }
  
  .search_box input {
    font-size: 20px;
    padding: 20px 80px 20px 2.7em; /* アイコンを設置するため左の余白を多めに指定*/
  }  

  /* ポップアップのスタイル */
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 15%;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    display: none; /* 最初は非表示 */
    overflow-y: auto; /* 垂直方向のスクロールバーを表示 */
    max-height: 80vh; /* ポップアップの高さが画面の80%を超えた場合にスクロールバーを表示 */
  }

  /* オーバーレイのスタイル */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明の背景色 */
    z-index: 9998;
    display: none; /* 最初は非表示 */
  }

	
.bg_pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: -1;
}
.Paper_v2 {
  background-image:
    repeating-linear-gradient(to bottom,
      transparent 25px,
      rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
      transparent 27px,  transparent 51px, 
      rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
      transparent 53px,  transparent 77px, 
      rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
      transparent 79px,  transparent 103px, 
      rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
      transparent 105px,  transparent 129px, 
      rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px),
 
    repeating-linear-gradient(to right,
      transparent 25px,
      rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
      transparent 27px,  transparent 51px, 
      rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
      transparent 53px,  transparent 77px, 
      rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
      transparent 79px,  transparent 103px, 
      rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
      transparent 105px,  transparent 129px, 
      rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px);
}

.link {
  text-decoration: none;
}

body{
	font: 14px/1.9 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo,sans-serif;
	font-weight: 300;
	-webkit-text-size-adjust:100%;
	overflow-x: hidden;
	color: #000;
	background: #ffffff;
}

a {
  color: rgb(52, 72, 223);
}

#comparison input {
  display: none; /* デフォルトのinputは非表示にする */
}
h1,h2 {
  color: #063f65;
  text-align: center;
  padding: 0.25em;
  border-top: solid 2px #6cb4e4;
  border-bottom: solid 2px #6cb4e4;
  background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}

#comparison span {
  cursor: pointer; /* カーソルを手に変化 */
  color: #333; /* 文字色を黒に */
  font-size: 14px; /* 文字サイズを14pxに */
  border: 1px solid #333; /* 淵の線を指定 */
  border-radius: 20px; /* 角丸を入れて、左右が丸いボタンにする */
  padding: 5px 20px; /* 上下左右に余白をトル */
}